@model Technician
@{ 
    ViewBag.Title = "Get Technician";

 }
<!--Create the drop down form to the technician-->
<h1>Technician</h1>
<!--go to IAction technicial list-->
<form asp-action="List" method="post">
    <select asp-for="TechnicianID" class="form-control">
        @*must include all properties even though they aren't used for this drop-down*@
        <vc:technician-drop-dwn-options value="" default-value="" default-text=""/>
    </select>
    <button type="submit" class="btn btn-primary mt-2">Select</button>
</form>