@model bool

@if (Model == true)
{
    //authenticated user - welcome message and log out button
    <form method="post" asp-action="Logout" asp-controller="Account" class="nav-item">
        <span class="text-light mt-3"><b>Welcome, @User.Identity.Name</b></span> 
        <input class="text-light btn" type="submit" value="Log Out"/>        
    </form>
}
else
{
    //Anonymous user - Log In and Register links
    <a class="nav-item nav-link" asp-controller="Account" asp-action="Login"> Log In</a>
    <a class="nav-item nav-link" asp-controller="Account" asp-action="Register"> Register</a>
}
